html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fcfcfc;
    font-family: 'Lato', sans-serif;
}
*, *:after, *:before {box-sizing: border-box;}
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    font-weight: 200;
}
.header-content > h1 {
    color: white;
    font-size: 135px;
}
h4 {
    font-size: 19px;
    font-weight: 300;
    line-height: 1.6;
}
a, a:hover {
    text-decoration: none;
    color: inherit;
}
p {
    font-size: 18px;
    line-height: 1.7;
    margin: 0;
}
footer small {
    opacity: .7;
}
@keyframes fadein {
    from {opacity: 0;}
    to   {opacity: 1;}
}

/*Header Image*/
.top-section {
    position: relative;
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}
.background {
    width: 100%;
    height: 100%;
    min-height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url("../images/rainforest-mist.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(60%);
    animation: fadein 3s ease forwards;
}
.header-content {
    position: relative;
    z-index: 100;
    text-align: center;
}
.box {
    display: inline-block;
    margin: 0;
    max-width: 58vw;
    width: 90%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-transform: none;
}
.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
}
.icon-scroll {
    width: 40px;
    height: 70px;
    margin-left: -20px;
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 25px;
    display: block;
    bottom: 30px;
    z-index: 100;
}
.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    -webkit-animation-duration: 2.5s;
            animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
            animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

/*Images*/
.main-img {
    margin: 0; 
    width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
                0 2px 2px rgba(0,0,0,0.08), 
                0 4px 4px rgba(0,0,0,0.08), 
                0 8px 8px rgba(0,0,0,0.08),
                0 16px 16px rgba(0,0,0,0.08);
}
.share-icon {
    width: 3%;
    margin: 5px;
    filter: opacity(70%);
    transition: .3s ease-in-out;
}
.share-icon:hover {
    filter: opacity(100%);
}

.footer-img {
    position: relative;
    z-index: -10;
    bottom: 0;
    height: 80vw;
    margin-top: -25vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
}
.footer-img center {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #ddd;
    font-weight: 400;
}

/*Index Image Overlay*/
.main-title {
    color: #2d2d2d;
    text-align: center;
    text-transform: uppercase;
    padding: 0.7em 0;
}
.title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
}
.content  {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 6px;
}
.content .content-overlay  {
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.content .content-overlay {
    opacity: 1;
    border-radius: 6px;
}
.content:hover .content-overlay {
    opacity: 0.7;
}
.content-image {
    width: 100%;
}
.content-details  {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
}
.content .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}
.content:hover .content-details {
    top: 80%;
    left: 50%;
    transition: all 0.6s ease-in-out 0s;
}
.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
.content-details p {
    color: #fff;
    font-size: 19px;
    font-weight: 300;
}

.contact-links a:hover {
    opacity: 0.7;
}
.contact-img {
    width: 44px;
    margin: 12px;
}

.grid-img {
    height: 40em;
    object-fit: cover;
    overflow: hidden;
}
.half-grid-img {
    height: 19.25em;
}

/*Button*/
.btn {
    font-size: 12px;
    position: relative;
    display: inline-block;
    margin-top: 50px;
    padding: 13px 20px;
    transition: color .1s linear .05s;
    text-align: center;
    text-decoration: none;
    letter-spacing: .4em;
    text-transform: uppercase;
    border: 1px solid #e1e1e1;
    background: transparent;
}
.btn::before {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    transition: height .2s ease, top .2s ease, opacity 0s linear .2s;
    opacity: 0;
    background: #e1e1e1;
}
.btn::after {
    transition: border .1s linear .05s;
}
.btn .btn-inner {
    position: relative;
    z-index: 2;
}
.btn:hover {
    transition: color .1s linear 0s;
    color: #373737;
}
.btn:hover::before {
    top: 0;
    height: 100%;
    transition: height .2s ease, top .2s ease, opacity 0s linear 0s;
    opacity: 1;
}
.btn:hover::after {
    transition: border .1s linear 0s;
    border-color: #373737;
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

/*Media*/
@media (max-width: 1200px) {
    .col-xl-6, .col-lg-6 {
        margin-bottom: 24px;
    }
    .grid-img {
        height: 500px;
        width: 100%;
    }
    .header-content > h1 {
        font-size: 70px;
    }
}
@media (max-width: 750px) {
    h1 {
        font-size: 60px;
    }
    .background {
        filter: brightness(40%);
    }
    .box {
        font-size: 16px;
    }
}
@media (max-height: 600px) {
    .icon-scroll {
        display: none;
    }
}
@media (min-width: 1025px) {
    .bg {
        background-attachment: fixed;
    }
}